.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.input-search{
  padding: 0.5rem;
  width: 20rem;
  color: rgb(10, 10, 10);
  outline: thick;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-right: 1.5rem;
  border-radius: 2px;
}

.btn-submit{
  color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #240185;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bolder;
	padding: 0.6rem;
	border-radius: 4px;
	display: inline-block;
	border: none;
	transition: all 0.8s ease 0s;
}


.btn-submit:hover {
  background: #0178ff;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.8s ease 0s;
}

